body { 
    background: black; 
    color: white;
}

#logo {
  float: left;
  margin-bottom: 5px;
  margin-top: -10px;
  margin-left: -10px;
  padding: 0.25em;
}

#sitetitle {
    text-align: center;
    font-size: 4em;
    margin: 0.5em;
}
#subtitle {
    text-align: center;
    font-size: 2em;
    margin: .5em;
}

.content {
  border-radius: 10px;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 40px;
  color: black;
  /* 800px+ */
  width: 90%;
  margin: auto;
}
:target {
    background-color: #ffa;
}

/* Front page buttons */
#links {
    list-style-type: none;
    float: left;
    width: 18em;
}
#links li {
    padding: 1em;
    margin: 1em;
    background: red;
    text-align: center;
    border-radius: 25px;
}
#links a {
    color: white;
}
#centerpiece {
    list-style-type: none;
    float: left;
}
#centerpiece li {
    text-align: center;
    padding-bottom: 2em;
}
#roundups {
    list-style-type: none;
    float: left;
    width: 18em;
}
#roundups li {
    padding: 1em;
    margin: 1em;
    background: purple;
    text-align: center;
    border-radius: 25px;
}
#roundups a {
    color: white;
}
/* End of Front page buttons */

#banner_rules {
    position: relative;
}
#banner_rules img {
    float: right;
    width: 60%;
    margin-right: -40px;
    margin-top: -20px;
    border: 5px ridge black;
    border-radius: 10px;
}
.roundup_title {
    padding-left: 1em;
    padding-bottom: 1em;
}
.card_title {
    margin-left: 2em;
    text-decoration: underline;
}
.faq_entry {
    list-style-type: none;
    padding-left: 1%;
    padding-bottom: 24px;
}
.question {
    font-weight: bold;
    font-style: italic;
    margin-bottom: 1em;
}
.answer {
}


#tf-logo {
  display: initial;
}
#tf-banner {
  display: none;
}
#homecontent {
    width: 20em;
    margin: 0 auto;
}
#centerpiece {
   display: none;
}

p, ul, ol, figcaption {
  font-size: 15px;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  letter-spacing: -0.004em;
  line-height: 1.58;
}

.faq_links {
    list-style-type: none;
    padding-left: 3em;
}
.roundup_links {
    list-style-type: none;
    padding-left: 3em;
}

@media (min-width: 850px) {
  p, ul, ol {
    font-size: 21px;
  }
  #title_widget {
    font-size: 1.5em;
  }
  #homecontent {
    width: 850px;
  }
  #tf-banner {
    display: initial;
  }
  #tf-logo {
    display: none;
  }
}

@media (min-width: 1600px) {
  #homecontent {
    width: 1600px;
  }
  #centerpiece {
     display: initial;
  }
}
